<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_06_HareketTabloSorgulama.Properties.Settings.HareketTabloSorgulamaConnectionString"
            connectionString="Data Source=DESKTOP-F5CBDSU\SQLEXPRESS;Initial Catalog=HareketTabloSorgulama;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>